html,
body {
    height: 100%;
    width: 100%;
    background-color: #DBB657;
}

main {
    margin: 1rem;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.secao {
    margin-top: 2rem;
    width: 60%;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: x-large;
}

.cozinha {
    width: 100%;
    padding: 0.3rem;
}

.receitas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
    width: 100%;
    padding: 0.3rem;
    border: solid #96553f 0.1rem;
    border-radius: 0.5rem;
}

.topico {
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
}

.qtd {
    margin-top: 1.7rem;
    align-items: flex-end;
}

.lista {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.voltar {
    position: relative;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}


.redondo {
    position: relative;
    left: 33%;
    width: 15%;
    top: 1rem;
}

.foto {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 6rem;
}

.legenda {
    margin-top: 0.15rem;
    text-align: center;
}

.comida {
    width: 5rem;
    margin-bottom: 2rem;
}

.titulo {
    font-size: large;
    font-weight: bold;
}

.margem {
    margin-left: 4.5rem;
}

.mais {
    width: 2.5rem;
    margin-bottom: 2rem;
}

.menos {
    width: 2.5rem;
    margin-bottom: 2rem;
}

.grama {
    margin-top: 2.3rem;
    font-size: large;
}

.contorno {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    border:  solid #96553f 0.1rem;
    border-radius: 1rem;
    background-color: white;
}

.verde{
    color: #90A375;
}