html,
body {
    height: 100%;
    width: 100%;
    background-color: #DBB657;
}

main {
    margin: 1rem;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
}

.secao{
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}

.cozinha{
    width: 100%;
    padding: 0.3rem;
}

.receitas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
    padding: 0.3rem;
    border: solid #96553f 0.1rem;
    border-radius: 0.5rem;
    background-color:white;
}

.topico{
    font-weight: bold;
    width: 52%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
}

.qtd{
    margin-top: 1.7rem;
    font-family: 'Fira Sans', sans-serif;
}

.lista {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.voltar{
    position: relative;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}


.redondo{
    position: relative;
    left: 30%;
    width: 15%;
    top: 1.5rem;
}

.foto{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 5rem;
}

.legenda{
    margin-top: 0.15rem;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    color: black;
}

.legenda1{
    margin-top: 0.15rem;
    margin-right: 2rem;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    color: black;
}

.comida{
    width: 2.5rem;
}

.titulo{
    font-size: large;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.qtd1{
    margin-top: 1.7rem;
    background-color: #90a375;
    padding-top: 0.5rem;
    border: solid black 0.05rem;
    border-radius: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    position: relative;
    bottom: 0.5rem;
    font-family: 'Fira Sans', sans-serif;
}

.font{
    font-family: 'Montserrat', sans-serif;
}

.preto{
    color: black;
    text-decoration: none;
}