html,
body {
    height: 100%;
    width: 100%;
    background-color: #DBB657;
}

main {
    margin: 1rem;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.secao {
    margin-top: 2rem;
    width: 60%;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}

.cozinha {
    width: 100%;
    padding: 0.3rem;
}

.receitas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
    width: 100%;
    padding: 0.3rem;
    border: solid black 1px;
    border-radius: 0.5rem;
}

.topico {
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
}

.qtd {
    margin-top: 1.7rem;
    font-family: 'Fira Sans', sans-serif;

}

.lista {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.voltar {
    position: relative;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}


.redondo {
    position: relative;
    left: 33%;
    width: 15%;
    top: 1rem;
}

.foto {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 6rem;
}

.legenda {
    margin-top: 0.15rem;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;

}

.comida {
    width: 3rem;
}

.titulo {
    font-size: large;
    font-weight: bold;
}

.margem {
    margin-left: 3.1rem;
    font-family: 'Montserrat', sans-serif;
}

.qtd1{
    margin-top: 1.7rem;
    background-color: #e45c54;
    padding-top: 0.5rem;
    border: solid black 0.05rem;
    border-radius: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    position: relative;
    bottom: 0.5rem;
    font-family: 'Fira Sans', sans-serif;

}

.fonte{
    font-family: 'Montserrat', sans-serif;
}

.preto{
    color:black;
}